@{
    ViewBag.Title = HomeResource.Home_About_AboutLabel;
}

<h2 class="nvs">@HomeResource.Home_About_AboutLabel</h2>
@(Html.Kendo().PanelBar()
      .Name("PanelBar")
      .HtmlAttributes(new { @class = "nvs-collapsible-panel" })
      .Items(panelbar =>
          {
              panelbar.Add().Text(HomeResource.Home_About_IntroductionTitle)
                      .Expanded(true)
                      .Content(@<text>
                        <div>
                            <p>
                                <b>Parts Ordering System (POS)</b> @HomeResource.Home_About_IntroDesc_WhatIsPos
                            </p>
                            <p>
                                @HomeResource.Home_About_IntroDesc_PosDesc_Proposal <b>@HomeResource.Home_About_IntroDesc_PosDesc_Proposal_Scenario</b><br />
                                @HomeResource.Home_About_IntroDesc_PosDesc_SourceCode
                            </p>
                            <p>
                                @HomeResource.Home_About_IntroDesc_PosDesc_Func
                            </p>
                        </div>
                        <hr class="nvs" />
                    </text>);
              panelbar.Add().Text(HomeResource.Home_About_RequirementsUsabilityTitle)
                      .Expanded(true)
                      .Content(@<text>
                        <div>
                            @HomeResource.Home_About_RequirementsUsability_TalkToUsers <br />
                            @HomeResource.Home_About_RequirementsUsability_UsePrototype <br />
                            @HomeResource.Home_About_RequirementsUsability_PosFocus <br />
                            @HomeResource.Home_About_RequirementsUsability_UserInteraction
                        </div>
                        <hr class="nvs" />
                    </text>);
              panelbar.Add().Text(HomeResource.Home_About_HowToStartTitle)
                      .Expanded(true)
                      .Content(@<text>
                        <div>
                            <ul class="nvs">
                                <li>
                                    @HomeResource.Home_About_HowToStart_TakeTour
                                </li>
                                <li>
                                    @HomeResource.Home_About_HowToStart_ReadGettingStarted $/GLB-NVS/POS/Release/Rx.x/Docs/POS Getting Started.doc (<a id="how-to-access-tfs1" href="https://teamplace.volvo.com/sites/volvoit-dotNET/TFS/How%20To%20Access%20TFS%20at%20Volvo.aspx" target="_blank">@HomeResource.Home_About_HowToStart_HowToAcces</a>)
                                </li>
                                <li>
                                    @HomeResource.Home_About_HowToStart_SeeSourceCode $/GLB-NVS/POS/Release/Rx.x/Src (<a id="how-to-access-tfs2" href="https://teamplace.volvo.com/sites/volvoit-dotNET/TFS/How%20To%20Access%20TFS%20at%20Volvo.aspx" target="_blank">@HomeResource.Home_About_HowToStart_HowToAcces</a>)
                                </li>
                                <li>
                                    @HomeResource.Home_About_HowToStart_Read <a id="nvs-code-guidelines1" href="http://tfs.it.volvo.net/sites/Global/GLB-NVS/Releases/LatestPublic/NVS%20Developer%20Guidelines.aspx" target="_blank">NVS Developer Guidelines</a> @HomeResource.Home_About_HowToStart_DetailsToInitDev
                                </li>
                                <li>
                                    @HomeResource.Home_About_HowToStart_Read
                                    <a id="cs-code-guidelines2" href="http://tfs.it.volvo.net/sites/Global/GLB-NVS/Releases/LatestPublic/Coding%20Guidelines.pdf" target="_blank">C# 3.0 Coding Guidelines for .NET development</a> @HomeResource.Home_About_HowToStart_DetailsOnCoding
                                </li>
                            </ul>
                        </div>
                        <hr class="nvs" />
                    </text>);
              panelbar.Add().Text(HomeResource.Home_About_ReferencesTitle)
                      .Expanded(true)
                      .Content(@<text>
                        <div>
                            @HomeResource.Home_About_References_NvsRefArch
                            <ul class="nvs">
                                <li>
                                    <a id="NVS" href="https://teamplace.volvo.com/sites/volvoit-dotNET/WebPartLib/NVSWebPage.aspx" target="_blank">NVS - .Net Volvo Solutions reference architecture home site</a>
                                </li>
                                <li>
                                    <a id="MVC" href="http://www.asp.net/mvc" target="_blank">Microsoft MVC framework</a>
                                </li>
                            </ul>
                            <br />
                            @HomeResource.Home_About_References_UserInterfaceGuides
                            <ul class="nvs">
                                <li>
                                    @*Not working link*@
                                    @*<a href="http://violin.volvo.net/volvogroup/corporate/en/communities/WebCommunications/visual_styles_icons/Pages/default.aspx" target="_blank">Volvo IT guidelines for user experience</a>*@
                                    <a href="http://violin.volvogroup.net/sites/vg/brand-center/product-brands/Pages/user-experience.aspx" target="_blank">Volvo IT guidelines for user experience</a>
                                </li>
                                <li>
                                    <a href="http://violin.volvo.net/SiteCollectionDocuments/Volvo%20Group/communities/web%20communications/guidance/guiding%20documents/SEO_SEA_guidance_1.2.pdf" target="_blank">Volvo Group SEO/SEA guidance</a>
                                </li>
                                <li>
                                    <a href="http://teamplace-premium.volvo.com/sites/volvoit-adt/wikis/User%20Experience/Home.aspx" target="_blank">DRS user experience wiki</a>
                                </li>
                                <li>
                                    <a href="http://en.wikipedia.org/wiki/Heuristic_evaluation" target="_blank">Heuristics evaluation</a>
                                </li>
                                <li>
                                    <a href="http://www.nngroup.com/articles/ten-usability-heuristics/" target="_blank">10 Usability heuristics</a>
                                </li>
                            </ul>
                            <br />
                            @HomeResource.Home_About_References_TelerikControls
                            <ul class="nvs">
                                <li>
                                    <a id="Telerik" href="https://teamplace.volvo.com/sites/volvoit-dotNET/DeveloperTools/Telerik%20Controls%20and%20Tools.aspx" target="_blank">Dot net tools &amp; Telerik Controls collection downloads</a>
                                </li>
                                <li>
                                    <a id="Telerik-demos" href="http://demos.telerik.com/kendo-ui/web/overview/index.html?mvc" target="_blank">Kendo UI Demos</a>
                                </li>
                            </ul>
                            <br />                            
                            @HomeResource.Home_About_InfoLabel_MoreDetails
                            <ul class="nvs">
                                <li>
                                    <a id="WebClientWiki" href="https://teamplace.volvo.com/sites/volvoit-dotNET/Web%20client%20wiki/Web%20Client%20Wiki.aspx" target="_blank">Web Client Wiki</a>
                                </li>
                            </ul>
                        </div>
                        <hr class="nvs" />
                    </text>);
          })
)